.documentNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: white;
  z-index: 2;
  padding: 0 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 0.25s height ease;
}

.documentNav h1 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.guide {
  margin-top: 1rem;
  width: 100%;

  header {
    text-align: left;
    margin: 0;

    .number {
      font-size: 1.3rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 150.77 86.32' style='enable-background:new 0 0 150.77 86.32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23273349;%7D .st1%7Bfill:%23409385;mix-blend-mode:screen;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,43.16L0,43.16C0,19.42,19.42,0,43.16,0h64.45c23.74,0,43.16,19.42,43.16,43.16v0 c0,23.74-19.42,43.16-43.16,43.16H43.16C19.42,86.32,0,66.9,0,43.16z'/%3E%3Cpath class='st1' d='M16.3,43L16.3,43c0-3.73,3.05-6.78,6.78-6.78h36.73c3.73,0,6.78,3.05,6.78,6.78v0 c0,3.73-3.05,6.78-6.78,6.78H23.08C19.35,49.78,16.3,46.73,16.3,43z'/%3E%3Cpath class='st1' d='M41.57,17.04L41.57,17.04c3.73,0,6.78,3.05,6.78,6.78v36.73c0,3.73-3.05,6.78-6.78,6.78h0 c-3.73,0-6.78-3.05-6.78-6.78V23.81C34.79,20.09,37.84,17.04,41.57,17.04z'/%3E%3Cpath class='st1' d='M24.36,24.6L24.36,24.6c2.64-2.64,6.95-2.64,9.58,0l25.97,25.97c2.64,2.64,2.64,6.95,0,9.58l0,0 c-2.64,2.64-6.95,2.64-9.58,0L24.36,34.18C21.72,31.55,21.72,27.23,24.36,24.6z'/%3E%3Cpath class='st1' d='M60.58,24.1L60.58,24.1c2.64,2.64,2.64,6.95,0,9.58L34.61,59.66c-2.64,2.64-6.95,2.64-9.58,0l0,0 c-2.64-2.64-2.64-6.95,0-9.58L51,24.1C53.63,21.47,57.95,21.47,60.58,24.1z'/%3E%3C/svg%3E");
      color: white;
      height: 2em;
      width: 3.5em;
      text-align: center;
      padding-left: 1.8em;
      padding-right: 0.5em;
      padding-top: 0.225em;
      font-weight: 700;
      flex-grow: 0;
      flex-shrink: 0;
    }

    h2 {
      font-size: 1.1rem;
      margin: 0.5rem 0;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  .content {
    background-color: #d4eef9;
    padding: 1rem;
    padding-top: 0;
  }

  > p {
    padding: 1rem;
    border-top: 1px solid grey;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .questions {
    background-color: #fff;
    padding-top: 1rem;
    border-bottom: 1px solid #999999;

    .priorityActions {
      margin-bottom: 2rem;
      font-weight: 700;
      border-radius: 10px;
      border: 2px solid #26324a;
      margin-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;

      h3 {
        color: white;
        background-color: #26324a;
        margin-bottom: -1rem;
        padding: 0.25rem 0.75rem;
        display: inline-block;
        border-radius: 1.2rem;
        position: relative;
        top: -1.15rem;
        left: 1.5rem;
        text-transform: uppercase;
      }

      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .additionalConsiderations,
    .operationalRequirements {
      padding: 1rem;

      h3 {
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      label {
        margin-top: 0.5rem;
        display: flex;
        align-items: flex-start;
      }

      > label:not(:first-of-type) {
        border-top: 1px solid #bbb;
        padding-top: 0.75rem;
        margin-top: 0.75rem;
      }

      .number {
        margin-right: 0.5rem;
        width: 1rem;
        text-align: right;
        flex-grow: 0;
        flex-shrink: 0;
      }

      .checkbox {
        width: 1.5rem;
        margin-right: 1rem;
        flex-shrink: 0;
        flex-grow: 0;

        input[type='checkbox'] {
          opacity: 0.75;
          transform: scale(1.5);
        }
      }

      .subquestions {
        .checkbox {
          margin-right: 2rem;
        }
      }

      @media (min-width: 700px) {
        .checkbox {
          margin-right: 2rem;
        }

        .subquestions {
          .checkbox {
            margin-right: 4rem;
          }
        }
      }
    }

    .additionalConsiderations {
      padding: 1rem;
      margin-top: 2rem;
      background-color: rgb(248, 248, 248);
    }
  }

  .resources {
    margin-top: 1rem;
    margin-bottom: 2rem;

    h3 {
      font-size: 1rem;
      margin: 0.5rem 0;
      text-transform: uppercase;
    }

    a {
      font-style: normal;
      display: block;
      padding: 0.25rem 0;
      color: inherit;

      @media (min-width: 992px) {
        margin-left: 2.2rem;
      }
    }
  }
}
