<section style="margin-bottom: 0">
      <div class="first-section">
        <a id="action-0" class="page-anchor"></a>
        <div class="no-number" data-number="0"></div>
        <h2>INDICATORS OF PROGRESS</h2>
        <!-- The number div is important because that's
           what the sticky navbar looks for -->
        <div class="number" style="display: none;"></div>
        <!-- <h1>Indicators</h1> -->
      </div>
      <div class="expand-hider" hidden>
        <div class="expand-area" style="border:none;">
          <div class="implementation-metrics">
            <div class="header"><div class="number">1</div><p>Activation of an emergency operations center (EOC) with an incident command structure to manage local response efforts.</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Is there a clearly designated and empowered incident manager?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Are there clearly designated organizational units in the EOC aligned with principal operational priorities (e.g., testing, hospital capacity, crisis communication, protection of high-risk populations, etc)?</p></div></div>

            <div class="header"><div class="number">2</div><p>Community is able to rapidly identify all infected individuals, isolate them, and quickly and effectively quarantine and trace their contacts.</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Is the percentage of positive diagnostic  tests relative to the total number of tests declining, and is that number low enough (e.g. 3 %) to indicate your testing is identifying most cases?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Are most new cases from identified contacts?</p></div></div>
            <div class="radio"><div><div class="radio-li">c</div><p>Are accurate diagnostic tests broadly available in the community with timely results (e.g. 24 hours)? </p></div></div>
            <div class="radio"><div><div class="radio-li">d</div><p>Have contract tracing teams been trained?</p></div></div>
            <div class="radio"><div><div class="radio-li">e</div><p>Have contact tracing teams been deployed sufficient to meet demand (e.g. 5 tracers for each positive case)?</p></div></div>
            <div class="radio"><div><div class="radio-li">f</div><p>Are there specific, interoperable methods deployed in your community for obtaining and managing data collection and integration for diagnostic testing and tracing?</p></div></div>

            <div class="header"><div class="number">2</div><p>Availability and accessibility of COVID-19 diagnostic testing throughout the community.</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Is COVID-19 diagnostic testing available to all experiencing symptoms within 24 hours?  n the community meeting medical demand? </p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Are COVID-19 diagnostic test results returned within 24 hours?</p></div></div>
            <div class="radio"><div><div class="radio-li">c</div><p>Can healthcare workers, first responders, essential service providers, and those at greater risk, always access COVID-19 diagnostic testing, whether or not they are experiencing symptoms?</p></div></div>
            <div class="radio"><div><div class="radio-li">d</div><p>Can healthcare workers, first responders, others at high-risk, be regularly tested (e.g. every 2-3 days), whether or not they are experiencing symptoms?</p></div></div>
            <div class="radio"><div><div class="radio-li">e</div><p>Are there shortages in the diagnostic testing supply chain–including equipment, supplies, reagents, and staffing?</p></div></div>
            <div class="radio"><div><div class="radio-li">f</div><p>Are serological (antibody), as well as diagnostic tests available?</p></div></div>

            <div class="header"><div class="number">2</div><p>Existence of an accurate understanding of the COVID-19 transmission trend within your community.</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Do you have an accurate understanding of the level of COVID-19 transmission?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Does the general public in your community have an accurate understanding of the status of COVID-19 transmission through daily updates?</p></div></div>

            <div class="header"><div class="number">3</div><p>Implementation of Infection, Prevention, and Control Measures to Prevent Disruptions in Critical Services, including:</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Food supply and distribution?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Critical infrastructure?</p></div></div>
            <div class="radio"><div><div class="radio-li">c</div><p>Water supply?</p></div></div>
            <div class="radio"><div><div class="radio-li">d</div><p>Waste management?</p></div></div>
            <div class="radio"><div><div class="radio-li">e</div><p>Electricity?</p></div></div>

            <div class="header"><div class="number">4</div><p>Institute protective measures for facilities serving high-risk populations.</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Has a comprehensive list of facilities that house high-risk populations been compiled?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Have those facilities’ infection prevention and hygiene practices been assessed and verified?</p></div></div>
            <div class="radio"><div><div class="radio-li">c</div><p>Have all identified vulnerabilities at those facilities been addressed?</p></div></div>

            <div class="header"><div class="number">5</div><p>Availability of critical care/intensive care treatment capacity in your area.</p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Are you able to project approximate anticipated bed needs over the next 2 weeks?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Are the hospitals in your community able to meet current and projected demand for critical care/intensive care unit capacity?</p></div></div>
            <div class="radio"><div><div class="radio-li">c</div><p>Are you implementing measures to expand critical care/intensive care unit capacity?</p></div></div>
            <div class="radio"><div><div class="radio-li">d</div><p>Are local health care facilities separating intake for patients with COVID-19, or who may have COVID-19, from those needing other types of care?</p></div></div>

            <div class="header"><div class="number">5</div><p>Sufficient and Available Supply of Personal Protective Equipment (PPE) for: </p></div>
            <div class="radio"><div><div class="radio-li">a</div><p>Critical care units?</p></div></div>
            <div class="radio"><div><div class="radio-li">b</div><p>Testing centers?</p></div></div>
            <div class="radio"><div><div class="radio-li">c</div><p>Assisted living centers and other facilities housing high-risk populations?</p></div></div>
            <div class="radio"><div><div class="radio-li">d</div><p>EMTs and other frontline responders?</p></div></div>
            <div class="radio"><div><div class="radio-li">e</div><p>Emergency management agencies, EMTs and other frontline responders?</p></div></div>
            <div class="radio"><div><div class="radio-li">f</div><p>State and local strike teams for localized outbreak response?</p></div></div>

            <div class="header radio"><div class="number">6</div><p>Implementation of a crisis communication strategy, including scheduled updates and clear lines of communication with critical stakeholders.</p></div>

            <h3>Progress: 0%</h3>
          </div>
        </div>
      </div>
    </section>