.mainNav {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  /* padding: 2rem 3rem; */
  padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  background: white;
  z-index: 3;
  margin: auto;
  width: 90%;
  max-width: 69rem;
}

.documentNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: white;
  z-index: 2;
  padding: 0 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 0.25s height ease;
}

.documentNav h1 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.navSquish:after,
.mainNav:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0rem;
  right: 0rem;
  height: 2px;
  border-radius: 1.5px;
  background-color: #569185;
  content: '';
}

@media only screen and (max-width: 992px) {
  .mainNav {
    padding: 2rem 0;
    padding-right: 4rem;
  }
  .mainNav:after {
    left: -1rem;
    right: -1rem;
  }
}

.navSquish {
  margin: auto;
  width: 90%;
  /* max-width: 61.5rem; */
  max-width: 65rem;
  display: flex;
  align-items: center;
}

.navbarTop,
.navbarLogo,
.navbarLeftText {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  align-items: center;
}

.navbarLeftText,
.navbarLogo {
  margin: 0.5rem 0;
}

.navbarLeftText {
  padding-left: 0;
}

/* .navbar-top {
    display: flex;
    flex-wrap: nowrap;
} */

.navbarLogo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewBox='0 0 169.17 96.86' style='enable-background:new 0 0 169.17 96.86;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .logo-st0%7Bfill:%23409385;%7D .logo-st1%7Bfill:%23409385;mix-blend-mode: screen;%7D .logo-st2%7Bfill:%23FFFFFF;%7D .logo-st3%7Bfill:%23273349%7D %3C/style%3E%3Cpath class='logo-st0' d='M0,48.43L0,48.43C0,21.79,21.79,0,48.43,0h72.31c26.64,0,48.43,21.79,48.43,48.43v0 c0,26.64-21.79,48.43-48.43,48.43H48.43C21.79,96.86,0,75.06,0,48.43z'/%3E%3Cpath class='logo-st3' d='M88.46,87.79c3.69,0,25.94,0,30.12,0c21.42,0,38.95-17.53,38.95-38.95c0-21.42-17.53-38.95-38.95-38.95 c-1.96,0.02-28.9-0.03-30.12,0V87.79z'/%3E%3Cpath class='logo-st2' d='M116.15,56.5v5.02H99.49V56.5h5.73V37.35c-0.51,0.71-1.5,1.49-2.95,2.32s-2.7,1.25-3.73,1.25v-5.14 c0.55,0,1.16-0.13,1.81-0.39c0.65-0.26,1.25-0.58,1.79-0.95c0.54-0.37,1.05-0.75,1.53-1.15c0.48-0.4,0.85-0.73,1.11-0.99 c0.26-0.26,0.41-0.42,0.44-0.48h5.67V56.5H116.15z'/%3E%3Cpath class='logo-st2' d='M121.68,49.08c-1.98-1.88-2.97-4.2-2.97-6.95c0-1.42,0.28-2.76,0.83-4.03c0.55-1.27,1.31-2.36,2.26-3.26 c0.95-0.9,2.09-1.62,3.43-2.16s2.75-0.8,4.25-0.8c3.35,0,5.99,1.19,7.92,3.56c1.94,2.38,2.91,5.67,2.91,9.9 c0,5.29-1.02,9.38-3.05,12.26c-2.03,2.88-4.81,4.32-8.35,4.32c-1.84,0-3.54-0.41-5.11-1.21s-2.9-1.96-3.98-3.46l3.2-3.48 c0.67,1.04,1.54,1.85,2.58,2.44s2.18,0.88,3.39,0.88c1.86,0,3.35-0.74,4.45-2.23c1.11-1.48,1.68-3.55,1.72-6.19 c-0.58,1-1.42,1.79-2.51,2.37c-1.09,0.58-2.32,0.87-3.66,0.87C126.1,51.9,123.66,50.96,121.68,49.08z M133.29,38.19 c-1.09-1.11-2.38-1.67-3.85-1.67c-1.46,0-2.72,0.55-3.79,1.65c-1.07,1.1-1.6,2.4-1.6,3.9c0,1.49,0.53,2.76,1.6,3.82 c1.07,1.06,2.34,1.59,3.83,1.59s2.76-0.52,3.84-1.57c1.07-1.04,1.61-2.3,1.61-3.78C134.93,40.61,134.39,39.3,133.29,38.19z'/%3E%3Cpath class='logo-st1' d='M18.29,48.25L18.29,48.25c0-4.18,3.42-7.6,7.6-7.6H67.1c4.18,0,7.6,3.42,7.6,7.6v0c0,4.18-3.42,7.6-7.6,7.6 H25.9C21.71,55.85,18.29,52.43,18.29,48.25z'/%3E%3Cpath class='logo-st1' d='M46.64,19.12L46.64,19.12c4.18,0,7.6,3.42,7.6,7.6v41.21c0,4.18-3.42,7.6-7.6,7.6h0c-4.18,0-7.6-3.42-7.6-7.6 V26.72C39.04,22.54,42.46,19.12,46.64,19.12z'/%3E%3Cpath class='logo-st1' d='M27.33,27.6L27.33,27.6c2.96-2.96,7.8-2.96,10.75,0l29.14,29.14c2.96,2.96,2.96,7.8,0,10.75l0,0 c-2.96,2.96-7.8,2.96-10.75,0L27.33,38.36C24.37,35.4,24.37,30.56,27.33,27.6z'/%3E%3Cpath class='logo-st1' d='M67.98,27.05L67.98,27.05c2.96,2.96,2.96,7.8,0,10.75L38.84,66.94c-2.96,2.96-7.8,2.96-10.75,0l0,0 c-2.96-2.96-2.96-7.8,0-10.75l29.14-29.14C60.18,24.09,65.02,24.09,67.98,27.05z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 3rem;
  width: 5.2rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  /* margin-top: .8rem; */
  // position: relative;
  // top: 0.75rem;
}

/* .navbar-logo h2 {
    margin-top: .25rem;
    font-size: 1rem;
    font-weight: 800;
} */

.navbarLeftText {
  align-items: flex-start;
}

.navbarLeftText h1 {
  margin: 0;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.1rem;
  letter-spacing: 0.04em;

  strong {
    font-weight: 800;
  }
}

.navbarLeftText h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.03em;
}

.navbarRight {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .active {
    text-decoration: underline;
    font-weight: 700;
  }
}

.navbarRight ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.5rem;
}

.navbarRight li {
  position: relative;
}

// .navbarRight li:last-of-type:before {
//     position: relative;
//     content: '';
//     border-right: 1px solid rgba(38,50,74, .5);
//     margin: 0 1rem;
// }

/* @media only print {
    .navbar-right {
        display:none;
    }
} */

nav li button,
nav a {
  background: none;
  border: none;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  font-weight: 500;
  padding: 0.4rem 0.75rem 0.5rem 0.75rem;
  color: #26324a;
  border-radius: 3px;
  transition: 0.25s background-color ease;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

nav a:hover {
  background-color: rgba(64, 147, 133, 0.125);
  transition: 0.25s background-color ease;
}

nav > a:hover {
  background-color: rgba(64, 147, 133, 0);
  transition: 0.25s background-color ease;
}

.ampButton {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #aaa;
  padding-left: 1rem;
  padding-right: 0;
  margin-right: 0;
  border-radius: 0;
  position: relative;

  @media (max-width: 1170px) {
    margin-top: 0.5rem;
    padding-top: 1rem;
    border-left: none;
    margin-left: 0;
    padding-left: 0.5rem;
    margin-bottom: -1rem;
    padding-bottom: 0;
    left: -6px;
    width: 100%;

    &:before {
      position: relative;
      display: block;
      content: '';
      left: 0;
      top: -1.25rem;
      height: 1px;
      width: 100%;
      background-color: #aaa;
    }
  }

  > img {
    height: 2rem;
  }
}

@media only screen and (min-width: 1170) {
  .navbarRight > ul > li:last-of-type a {
    background-color: rgba(64, 147, 133, 1);
    color: white;
    margin-left: 0.5rem;
  }
}

.navbarRightHider {
  position: relative;
  margin-left: auto;
  margin-bottom: 1rem;
  height: 0;
}

.menuButton {
  display: none;
}

@media (max-width: 1170px) {
  .mainNav {
    align-items: center;
  }

  .navbarLeftText {
    margin: 0;
  }

  .menuButton {
    display: block;
    background: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50.08 41' style='enable-background:new 0 0 50.08 41;' xml:space='preserve'%3E%3Cpath style='fill:none;stroke:%23409385;stroke-width:5;stroke-linecap:round;' d=' M2.5,20.5h45.08 M2.5,2.5h45.08 M2.5,38.5h45.08'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: auto;
    z-index: 3;
    position: absolute;
    top: 48px;
    right: 20px;
  }

  .navbarRightHider {
    position: absolute;
    right: -15px;
    top: 18px;
    overflow: hidden;
    height: 0;
    transition: 250ms ease;
    z-index: 2;
    padding: 15px;
  }

  .navbarRight {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
    padding: 15px;
    border-radius: 8px;
  }

  .navbarRight ul {
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0;
  }

  .navbarRight li {
    position: relative;
    padding: 10px 0;
  }

  nav a {
    margin-left: 0rem;
    margin-right: 1.5rem;
  }
}
