.label {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: baseline;
  padding-bottom: 0.5em;
  margin: 0.25em;
  margin-bottom: 0.25em;
  border-bottom: 1px solid #ddd;
  line-height: 1.3em;

  &:last-of-type {
    border-bottom: none;
  }

  input {
    position: relative;
    top: 0.125em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5em;
  }

  // input {
  //   -webkit-appearance: none;
  //   border: 1px solid #aaa;
  //   background: #eee;
  //   width: 1.5em;
  //   height: 1.5em;
  //   border-radius: 0.3em;
  //   flex-shrink: 0;
  // }

  // // input:active,
  // // input:checked:active {
  // //     box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  // // }

  // input:checked {
  //   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  //   background-color: red;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 429 328' style='enable-background:new 0 0 429 328;' xml:space='preserve'%3E%3Cpolyline style='fill:none;stroke:white;stroke-width:80;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='30,168 181,298 399,30 '/%3E%3C/svg%3E");
  //   background-size: 80%;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  // label {
  //   margin-left: 0.5rem;
  // }
}
