
.contributors {
    margin: auto;
    width: 90%;
    max-width: 64rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #999999;
    padding-bottom: 2rem;
}

.contributors:last-of-type{
    border-bottom: none;
}

.contributors > p {
    font-style: italic;
    margin-bottom: 5rem;
}

.contributors h2 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    max-width: 30rem;
    margin-bottom: 3rem;
}

.contributors h1 {
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 800;
}

.contributorsContainer {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: flex-start;
}

.individual{
    width: 50%;
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start;
}


.individual img {
    width: 12rem;
    padding-left: 4rem;
    height: auto;
    margin-top: 0;
    margin-right: 1rem;
}

@media only screen and (min-width: 65rem) {
    .individual:first-of-type > img {
        width: 8rem;
        padding-left: 0;
    }

    .individual:first-of-type {
        margin-right: 2rem;
    }
}

.individual img.georgetown {
    padding-left: 0;
}

.bio p {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    font-size: .9rem;
}

@media only screen and (max-width: 65rem) {
    .contributorsContainer {
        flex-wrap: wrap;
    }
    .individual {
        min-width: 35rem;
    }
}

@media only screen and (max-width: 700px) {
    .individual {
        flex-wrap: wrap;
        min-width: 100%;
    }

    .individual .bio {
        width: 100%;
    }

    .bio p {
        font-size: .8rem;
    }

    .individual img {
        width: auto;
        height: 5rem;
        padding-left: 0rem;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .individual img.georgetown {
        height: 6.5rem;
    }

    .individual img.nti {
        margin-bottom: 1rem;
    }
}


.contributorsColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 52rem;
    /* width: 50%; */
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
    margin-left: -10rem;
}

.contributorsColumn .bio {
    margin-left: 10rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 65rem) {
    .contributorsColumn {
        margin-left: 0rem;
    }
    .contributorsColumn .bio {
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 900px) {
    .contributorsColumn {
        height: auto;
        margin-left: 25%;
    }
    .contributorsColumn .bio {
        margin-top: 1rem;
    }
}


@media only screen and (max-width: 700px) {
    .contributorsColumn {
        margin-left: 0;
    }
}
